services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BUILD_PROFILE: dev
    ports:
      - '8080:8080'
    depends_on:
      postgres:
        condition: service_healthy
    profiles:
      - dev
    environment:
      - SPRING_PROFILES_ACTIVE=dev

  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=share_me
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -U postgres' ]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 40s
